<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 footer_menuList">
            <div class="heading row m0">
                <h5 style="color:#FFF;padding-top:15px;">Techno.Tech Bilgisayar</h5>
            </div>
            
        </div>

    </div>
</div>
